Hi, 
Given the following [dataset](https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/teleco_user_data.csv), calculate the average lifetime value of a customer.

Below are a couple of definitions to help solve the problem:

Lifetime value is average revenue divided by the churn rate

Churn rate is defined as the total number of churned customers / total number of customers

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read dataset
df = pd.read_csv("https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/teleco_user_data.csv")
df

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     7590-VHVEG  Female              0  ...          29.85        29.85     No
1     5575-GNVDE    Male              0  ...          56.95       1889.5     No
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
...          ...     ...            ...  ...            ...          ...    ...
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[7043 rows x 21 columns]

In [3]:
# Convert columns to int type
df['TotalCharges'] = pd.to_numeric(df.TotalCharges, downcast='integer', errors='coerce')
df['MonthlyCharges'] = pd.to_numeric(df.MonthlyCharges, downcast='integer', errors='coerce')
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95      1889.50     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [10]:
# Compute churn rate
unique_users = len(df.customerID.unique())
churn_users = len(df.Churn[df.Churn == "Yes"])
churn_rate = churn_users / unique_users
churn_rate

0.2653698707936959

In [12]:
# Average revenue
avg_revenue = df.TotalCharges.mean()
avg_revenue

2283.3004408418697

In [13]:
avg_revenue / churn_rate

8604.218836195445